// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// $primary   : #0E86D4; 
// $secondary : #D4F1F4;
// $accent    : #75E6DA;

$primary    : #0E86D4;
$secondary  : #DAF3FF;
$accent     : #67BBFF;

$dark-blue : #050A30;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$navy-blue-1:    #05445E;
$navy-blue-2:    #003060;
$navy-blue-3 :   #000C66;

$baby-blue-1:    #D4F1F4;
$baby-blue-2:    #68BBE3;
$baby-blue-3:    #7EC8E3;


$blue-grotto-1:  #BFD7ED;
$blue-grotto-2:  #189AB4;
 

$royal-blue:     #0074B7;

$midnight-blue:  #41729F;
$blue-gray:      #5885AF;
$dark-blue:      #274472;   

$cold:   #4db8e9; 
$chilly: #219cd4;
$warm-1: #FDFD96;
$warm-2: #FEFEBE;
$hot-1: #fda194;
$hot-2: #e96f6b;


@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;900&family=Source+Sans+Pro:wght@300;900&display=swap');
$typography-font-family: 'Source Code Pro', sans-serif !default;
$text-weights: (light: 300, regular: 400, bold: 900);

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
$typography-font-family: 'Quicksand', sans-serif ;
$text-weights: (light: 300, regular: 400, medium: 500, semi-bold: 600, bold: 700);
